body,li,ul{
    font-family: "Microsoft YaHei";
    padding: 0;
    margin: 0;
}
a{text-decoration: none;}
ul{list-style: none}
.container{
    min-width: 1300px;
}
.top{
    position: relative;
    margin: 0px 60px;
    height: 50px;
}
.top-left img{
    float:left;
    padding-right: 10px;
    padding-top: 15px;
}
.top-left h3{
    float: left;
    line-height: 25px;  
    color: #555;
}
.top-right{
    position: absolute;
    right: 0;
}
.top-right ul{
    list-style-type: none; 
}
.top-right ul li{
    float: left;
    padding: 20px 20px;
}
.top-right ul .active{
    border-bottom: 3px solid #e74f4d;
}
.top-right ul .login{
    color: #e74f4d;
}
.top-right ul .login img{
    padding-right: 5px;
}
.jumbotron{
    width: 100%;
    height: 640px;
    overflow: hidden;
    position: relative;
}
.jumbotron img{
    width: 100%;
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
}
.jumbotron .box1{
    position: absolute;
    top: 200px;
    left:120px;
    color:#fff;
}
.jumbotron .box1 h3{
    font-size: 60px;
    font-weight: normal;
    margin:  20px 0;
}
.jumbotron .box1 p{
    line-height: 26px;
    margin: 10xp;
}
.jumbotron .box1 .button{
    display: block;
    line-height: 50px;
    background-color: #e74f4d;
    width: 250px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border-radius: 2px;
}
.jumbotron .box1  a{
    color: #fff;
    text-decoration: none;
}
.lead{
    height: 250px;
}
.lead-box{
    float: left;
    height: 250px;
    width: 25%;
    text-align: center;
}
.lead-box img{
    margin: 40px 0;
}
.lead-box p{
    padding:0 20%;
    color: #444;
    border-right: 2px solid #999;
}
.lead-box:last-child p{
    padding:0 20%;
    color: #444;
    border:0px;
}
.banner1{
    height: 300px;
    width: 100%;
    background-color: #edecec;
    text-align: center;
}
.banner1 img{
    margin: 50px 0;
}
.banner1 p{
    font-size: 50px;
    color: #666;
    margin: 0;
}
.map{
    width: 100%;
    height: 300px;
    background: url(../img/map.png) no-repeat ;
    background-size: 100% auto;
    text-align: center;
    color: #fff;
}
.map h3{
    margin: 0;
    padding: 40px 0 10px 0;
    font-weight: normal;
}
.map p{
    font-size: 14px;
}
.map-form{
    margin-top: 50px; 
}
.map-form select{
    border: 0;
    width: 200px;
    height: 35px;
    font-size: 16px;
    margin: 0 20px;
    padding: 5px;
}
.map-form button{
    text-align: center;
    height: 35px;
    background-color: #e74f4d;
    border: 0;
    width: 200px;
    color: #fff;
    font-size: 16px;
    border-radius: 1px;
}
.banner2{
    background-color: #f7f7f7;
    height: 400px;
    width: 100%;
}
.banner2 .paint{
    width: 980px;
    margin: 0 auto;
    padding-top: 30px; 
    text-align: center;
}
.banner2 .paint div{
    width: 200px;
    float: left;
    margin: 0 20px;
}
.banner2 .paint img{
    width: 90%;
    border: 6px #fff solid;
}
.banner2 .paint p{
    color: #888;
}
.banner3{
    height: 450px;
}

.banner3 .left{
    height: 450px;
    width: 64%;
    background: url("../img/banner3.png") no-repeat;
    background-size: 100% auto;
    color: #fff;
    text-align: center;
    float: left;
}
.banner3 .left h2{
    margin: 0;
    padding-top:120px; 
}
.banner3 .left h1{
    margin: 0;
    font-size: 100px;
    font-weight: normal;
}
.banner3 .right {
    height: 450px;
    width: 33%;
    float: right;
}
.banner3 .right h3{
    font-weight: normal;
    text-align: center;
    padding-top: 50px; 
}
.banner3 .right span{
    color: #e74f4d;
}
.banner3 .right p{
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    color:#888;
}
.banner3 .right button{
    width: 120px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #e74f4d;
    color:  #e74f4d;
    font-size: 16px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 50px; 
}
.banner3 .right .center{
    text-align: center;
}
.banner4{
    height:450px;
}
.banner4 .left{
    height: 450px;
    width: 33%;
    background-color: #e74f4d;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.banner4 .left p{
    line-height: 20px;
}
.banner4 .left .f{
    margin-top:150px;
}
.banner4 .left button{
    height: 40px;
    width: 120px;
    background-color: #e74f4d;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-top:50px; 
}
.banner4 .mid{
    height: 450px;
    width: 31%;
    float:left;
    color: #e74f4d;
    text-align: center;
    font-size: 18px;
}
.banner4 .mid p{
    line-height: 20px;
}
.banner4 .mid .f{
    margin-top:150px;
}
.banner4 .mid button{
    height: 40px;
    width: 120px;
    background-color: #fff;
    border: 1px solid #e74f4d;
    color: #e74f4d;
    font-size: 16px;
    margin-top:50px; 
}
.banner4 .right{
    height: 450px;
    width:36%;
    float:right;
    background: url(../img/banner4.png) no-repeat;
    background-size: 100% auto;
}
.reg{
    height: 730px;
    width: 100%;
}
.reg .top{
    text-align: center;
    padding-top: 60px;
    display: block;
    height: 200px;  
    padding-bottom: 30px;
}
.reg .top h3{
    font-weight: normal;
    font-size: 25px;
}
.reg .top p{
    color: #888;
    font-size: 14px;
}
.reg .left {
    width: 330px;
    margin-left: 150px;
    float: left;
}
.reg .left h3{
    font-size: 16px;
    color: #444;
}
.reg .left .detial{
    color: #666;
    font-size: 14px;
}
.reg .left .more{
    text-align: right;
    color: #666;
    font-size: 12px;
}
.reg .right {
    float:right;
    width: 700px;
}
.reg .right .input{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    width: 250px;
    height: 40px;
    margin: 10px 5px;
    background-color: #eee;
    border: 0;
    padding-left: 20px;
}
.reg .right .textarea{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    width: 515px;
    height: 100px;
    margin: 10px 5px;
    background-color: #eee;
    border: 0;
    padding-left: 20px;
}
.reg .right button{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    width: 515px;
    height: 40px;
    margin: 10px 5px;
    background-color: #eee;
    border: 0;
    padding-left: 20px;
}
.contact{
    height: 300px;
    width: 100%;
    background-color: #33363f;
    color:#fff;
    text-align: center;
}
.contact h3{
    font-weight: normal;
    padding-top:60px;
}
.contact .email-input{
    width: 400px;
    height: 40px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    border: 0;
    padding-left: 20px;
}
.contact button{
    width: 100px;
    color: #fff;
    height: 40px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    border: 0;
    background-color: #73737b;
}
.contact p img{
    margin: 20px;
}
.bottom {
    height: 50px;
    color: #fff;
    background-color: #30303a;
    font-size: 12px;
}
.bottom p{
    float: left;
    margin-top:18px; 
    margin-left: 60px;
}
.bottom a {
    float: right;
    color: #fff;
    margin-top:18px; 
    margin-right: 60px;
}
